.title1 h2{
    margin-left: 65px;
    font-weight: 600;
    font-weight: 16px;
      color: #000f38;
    /* color:#212ea0; */
}
.title1 h1{
    font-size:35px ;
    color:#212ea0;
    /* color: #000f38; */
    margin: 10px 0;
    max-width: 400px;
    margin-left: 65px;
}
.slider
{
    position:relative;
    width: 90%;
    transform: translate(-50%, 5%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 20px;
}
.wrapper
{
    width: 100%;
    animation: slide 40s infinite;
    display:flex ;

}
.wrapper img{
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    } 
    25%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(-100%);
    } 
    50%{
        transform: translateX(-200%);
    }    
    55%{
        transform: translateX(-200%);
    }  
    70%{
        transform: translateX(-300%);
    } 
    75%{
        transform: translateX(-300%);
    } 
    80%{
        transform: translateX(-400%);
    } 
    85%{
        transform: translateX(-400%);
    } 
    90%{
        transform: translateX(-500%);
    } 
    100%{
        transform: translateX(-500%);
    } 
}